* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Regular.eot');
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
		url('../../../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/TTLakes-Regular.woff') format('woff'),
		url('../../../fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes";
	src: url("../../../fonts/TTLakes-Light.eot");
	src: local("TT Lakes Light"), local("TTLakes-Light"),
		url("../../../fonts/TTLakes-Light.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/TTLakes-Light.woff") format("woff"),
		url("../../../fonts/TTLakes-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes";
	src: url("../../../fonts/TTLakes-Medium.eot");
	src: local("TT Lakes Medium"), local("TTLakes-Medium"),
		url("../../../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/TTLakes-Medium.woff") format("woff"),
		url("../../../fonts/TTLakes-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: 'TT Lakes', sans-serif;
	height: 100%;
	width: 100%;
}


.call {
	width: 320px;
	height: 100%;
	padding: 40px 16px;
	position: absolute;
	right: 0;
	box-shadow: 1px 0 50px 5px rgba(0, 0, 0, 0.25);

	.close-btn {
		width: 40px;
		height: 40px;
		background: #FF3E79;
		border-radius: 50%;
		position: relative;
		margin-right: 15px;
		bottom: 20px;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}

		&:before,
		&:after {
			content: '';
			width: 50%;
			height: 2px;
			background: white;
			position: absolute;
			top: 45%;
			left: 25%;
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	h1 {
		font-size: 24px;
		font-weight: 700;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			border-left: 3px solid #41F6D7;
			border-radius: 15%;
			height: 25px;
			left: -16px;
		}
	}

	.phone {
		margin-top: 24px;

		div {
			border: 1px solid #EAEAEA;
			border-radius: 5px;
			padding: 12px 16px;
			margin-bottom: 16px;
			font-size: 16px;
			font-weight: 500;
			color: #B5B6BC;
		}
	}

	.warning {
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		color: #7E7E82;

		a {
			color: #FF3E79;
		}
	}

	.send-btn {
		color: #fff;
		background-color: #FF3E79;
		width: 136px;
		height: 32px;
		border-radius: 50px;
		font-size: 12px;
		font-weight: 700;
		position: relative;
		left: 150px;
		top: 20px;

		&:hover {
			opacity: 0.5;
		}

		&::after {
			content: '';
			position: absolute;
			top: 17px;
			right: 15px;
			width: 8px;
			height: 8px;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			border-radius: 15%;
			transform: translate(-65%, -50%) rotate(-45deg);
		}
	}
}

@media (min-width: 767px) {
	.call {
		width: 440px;
		padding: 20px 16px;

		.close-btn {
			right: 80px;
			top: 30px;
		}

		.send-btn {
			left: 270px;
		}
	}
}