.swiper {
	height: 120px;
	width: 240px;
	margin-top: 16px;

	.swiper-wrapper {
		display: flex;

		.swiper-slide {
			background-color: white;
			height: 72px;
			flex: 0 0 auto;
			border: solid 1px #B5B6BC;
			border-radius: 6px;
			position: relative;
			width: 85%;

			img {
				position: absolute;
				left: 16px;
				top: 0;
				bottom: 0;
				margin: auto;
			}

			.swiper-slide__symbol {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: none;
				border: 2px solid #FF3E79;
				position: relative;
				left: 170px;
				top: 15px;
				cursor: pointer;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 10px;
					height: 10px;
					border-right: 2px solid #FF3E79;
					border-bottom: 2px solid #FF3E79;
					border-radius: 15%;
					transform: translate(-65%, -50%) rotate(-45deg);
				}
			}
		}

		.second-swiper__slide {
			height: 160px;

			span {
				font-weight: 500;
				font-size: 16px;
				position: absolute;
				left: 16px;
				top: 16px;
			}

			.swiper-slide__symbol {
				left: 170px;
				top: 95px;
			}
		}

		.third-swiper_slide {
			height: 190px;

			div {
				display: flex;
				flex-direction: column;
				margin: 16px auto 16px 16px;

				span {
					display: flex;
					flex-direction: column;
					font-size: 14px;
				}

				.condition {
					color: #7E7E82;
					margin-bottom: 4px;
				}
			}

			.order-button {
				font-weight: 700;
				font-size: 12px;
				color: #fff;
				background-color: #FF3E79;
				padding: 4px 25px 4px 12px;
				border-radius: 50px;
				cursor: pointer;
				position: relative;
				top: -35px;
				left: 125px;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 90px;
					width: 6px;
					height: 6px;
					border-right: 2px solid #fff;
					border-bottom: 2px solid #FFf;
					border-radius: 15%;
					transform: translate(-65%, -50%) rotate(-45deg);
				}
			}
		}
	}
}

.second-swiper {
	height: 200px;
	width: 240px;
	margin-top: 16px;
}

.third-swiper {
	height: 230px;
}